= navbar position: :static do   
  = horizontal do
    = nav class: 'navbar-right' do
      = link_to 'Privacy', ""
      = link_to 'About', ""
      -if current_user
        = render partial: "application/account_dropdown"
