= navbar position: :static do
  = vertical do
    = link_to root_path do
      .logo-small
        =image_tag 'https://s3.amazonaws.com/hackliteracy/H.png', :class=> 'img-responsive'
      
  = horizontal do
    = nav class: 'navbar-right' do
      = link_to 'Privacy', ""
      = link_to 'About', ""
      -if current_user
        = render partial: "application/account_dropdown"
